<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://i.ytimg.com/vi/D-DYWvnrFs8/maxresdefault.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Directorio medicos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Medicos</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
       <ion-item (click)="medicos()">
        <ion-icon name="medkit"></ion-icon>
        <ion-label> Médicos</ion-label>
      </ion-item>
      </ion-list>
</ion-content>
